:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  /* colors */
  --bg-color: #4e0568;

  --primary-1: #1790aa;
  --primary-2: #1790aa5e;
  --primary-2-71: rgb(23, 144, 170, 71%);
  --secondary-1: #c175c8cf;
  --secondary-2: #ad2da7;

  --neutral-1: #fde5ff;
  --neutral-2: #d9d9d9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background-color: var(--bg-color);
  color: var(--neutral-1);
}

a {
  color: inherit;
  text-decoration: none;
}
